body {
    background: linear-gradient(to right, #1C1C1C, #4E4E4E); /* Gradiente de fundo */
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 20px;
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: #FF6347; /* Cor laranja suave */
    font-size: 3em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); /* Sombra para dar destaque */
    margin-bottom: 20px;
}

h2 {
    color: #8B0000;
    margin-top: 40px;
    font-size: 1.8em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Efeito sutil de sombra */
}

.livros {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.livros li {
    width: 180px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
    border-radius: 10px;
    background-color: #2C2C2C; /* Fundo mais claro para os itens */
}

.livros li:hover {
    transform: scale(1.1); /* Aumenta um pouco mais no hover */
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.6); /* Efeito de luz suave no hover */
}

.livros img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.livros p {
    color: #FFF;
    font-size: 1em;
    margin: 0;
}

.temas-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.temas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
    list-style: none;
    background: linear-gradient(135deg, #1C1C1C, #3C3C3C); /* Gradiente suave */
    border: 5px solid;
    border-image: linear-gradient(to right, #1e620a, #8B0000, #FFB6C1, #FF7F50) 1;
    border-radius: 16px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(247, 48, 48, 0.05);
}
.temas li {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.temas li:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Destaca o item no hover */
    transform: scale(1.05); /* Leve aumento no hover */
}

.temas li:last-child {
    border-bottom: none;
}


