body {
    background: linear-gradient(to right, #1C1C1C, #4E4E4E); /* Gradiente de fundo */
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 20px;
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: #FF6347; /* Cor laranja suave */
    font-size: 3em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); /* Sombra para dar destaque */
    margin-bottom: 20px;
}

h2 {
    color: #8B0000;
    margin-top: 40px;
    font-size: 1.8em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Efeito sutil de sombra */
}

.livros {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.livros li {
    width: 180px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
    border-radius: 10px;
    background-color: #2C2C2C; /* Fundo mais claro para os itens */
}

.livros li:hover {
    transform: scale(1.1); /* Aumenta um pouco mais no hover */
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.6); /* Efeito de luz suave no hover */
}

.livros img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.livros p {
    color: #FFF;
    font-size: 1em;
    margin: 0;
}

.temas-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
