body {
    background:#1C1C1C;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 20px;
    color: #C0C0C0;
}
div{
    background: #A9A9A9
}

h1{
    font-family: 'Grat Vibes', cursive;
    text-align: center;
    color: #344139;
   
   
    
}


